@font-face{
    font-family: touch;
    src: url(../fonts/orange.ttf);
}

@font-face{
    font-family: baloon;
    src: url(../fonts/LearningCurve.ttf);
}

@font-face{
    font-family: caviar;
    src: url(../fonts/CaviarDreams_Bold.ttf);
}
body {
    background-color: #a0d0c9;
    background-image: url(../images/brain.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 220px;
    background-attachment: fixed;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.title{
    font-family: touch;
    font-size: 42px;
    margin: 0;
}


.nav {
    display: flex;
    background-color: #fdfbd1;
    box-shadow: 0px 10px 20px grey;
    padding: 20px 0 10px;
    position: fixed;
    width: 100%;
}

@media  (max-width: 850px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media  (max-width: 850px) {
    .nav-itens{
        padding: 5px;
    }
    .nav-itens:first-of-type{
        width: 100%;
    }
}


.nav-itens {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.baloon-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
    padding-top: 150px;
}

@media screen and (max-width: 850px) {
    .baloon-container{
        padding-top: 250px;
    }
}

.baloon {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: baloon;
    font-size: 20px;
    width: 550px;
    height: 360px;
    background-image: url(../images/ballon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 50px;
}

.baloon-title{
    margin-top: 50px;
    margin-bottom: 2px;
}

#thought-data{
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: touch;
}
.baloon-description{
    font-size: x-large;
    padding: 0px 50px 0px 50px;
    margin: 0px;
    width: 80%;
    height: 130px;
}

@media screen and (max-width: 660px) {
    .baloon-title{
        font-size: xx-large;
    }
    .baloon-description{
        height: 110px;
        font-size: inherit;
    }  
} 

@media screen and (max-width: 560px) {
    .baloon-title{
        font-size: larger;
    }
    .baloon-description{
        font-size: initial;
        height: 80px;
    }
}


@media screen and (max-width: 410px) {
    .baloon-title{
        margin: 30px 0px 0px 10px;
        font-size: initial;
    }
    .baloon-description{
        padding: 0px 45px 0px 60px;
        font-size: medium;
    }
} 

/* modal */

/* The Modal (background) */
.modal {
    font-family: caviar;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* header */
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

/* Modal Content/Box */
.modal-content {
    background-color: #3badb3d1;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

.modal-body{

}

.menu-modal{
    width: 10%;
}

.menu-modal:hover{
    cursor: pointer;
}

/* footer */
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: space-around;
    border-top: 1px solid #e9ecef;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* botões */

.create-button {
    color: black;
    background-color: white;
    border-color:black;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.create-button:hover {
background-color: #28a745;
color: #fff;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    margin-top: 15px;
    color: #fff;
    background-color: #8ca238;
    border-color: black;
}

.btn-secundary {
    margin-top: 15px;
    color: #fff;
    background-color: #ff0000;
    border-color: #ff000060;
}


.btn-update {
    margin-top: 15px;
    color: #fff;
    background-color: #2bff00a6;
    border-color: #2bff000e;
}

.btn:hover{
    cursor: pointer;
}


/* form */
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-control {
    display: block;
    width: 100%;
    padding: 0px 10px;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* littleConfigs */
.title-thought{
    display: flex;
    justify-content: space-between;
}

.title-post{
    width: 30%;
}

.humor-post{
    width: 50%;
    display: flex;
    flex-direction: column;
}

select{
    width: 30%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
}

.form-container {
    width: 100%;
}

.input-container {
    margin: 20px 0;
}

input {
    box-sizing: border-box;
}

.input-space{
    margin-top: 10px;
}

/* text-area */
textarea{  
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    margin-top: 15px;
    padding: 10px;
    width: 95%;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(black, .3);
  }