@font-face{
    font-family: touch;
    src: url(../fonts/orange.ttf);
}

body {
    background-color: #a0d0c9;
    background-image: url(../images/brain.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 250px;
    background-attachment: fixed;
}

.nav-top{
    padding-top: 10px;
    background-color: #fdfbd1;
}

.navbar-up{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 20px grey;
}

.title{
    font-family: touch;
    font-size: 50px;
    width: 45%;
    text-align: center;
}

.button-center {
    width: 55%;
    padding-left: 10px;
    display: flex;
    justify-content: left;
}

.baloon-body{
    padding-top: 100px;
    display: flex;
}

.baloon-1{
    width: 50%;
    padding-left: 5%;
}

.baloon-2{
    width: 50%;
    padding-top: 200px;
    padding-left: 25%;
}
